[Unit]
Description=FluxSand Application

[Service]
Type=simple
ExecStart=/usr/local/bin/FluxSand
Restart=on-failure
RestartSec=2
User=XRobot
WorkingDirectory=/usr/local/bin
StandardOutput=journal
StandardError=journal
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
TimeoutStopSec=1
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
